* {
  transition: opacity .3s;
}

body {
  margin: 0;
  background-color: #053030;
  transition: all .5s;
}

h1 {
  display: none;
  margin: 80px auto;
  padding: 50px;
  font-family: 'Bree Serif', serif;
  color: #8DCCC0;
}


.illustration {
  padding-top: 100px;
  width: 85%;
  margin: 0 auto;
  display: block;
}

.fire-illustration {
  padding-top: 100px;
  width: 85%;
  margin: 0 auto;
  display: none;
}

.fire-orange {
  fill: #FC763A;
  -webkit-animation: flicker 1s infinite;
  animation: flicker 1s infinite;
}

.fire-red {
  fill: #891111;
  -webkit-animation: flicker 1s infinite;
  animation: flicker 1s infinite;
}

.fire-yellow {
  fill: #FFC639;
  -webkit-animation: flicker 1s infinite;
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.6
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0.6
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.6
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0.6
  }
}



@media (max-width: 475px) {

  .illustration {
    opacity: 0;
    display:none;
  }

  .fire-illustration {
    opacity: 0;
    display:none;
  }

  h1 {
    display: block;
    opacity: 100;
  }

  .highlight {
    background-color: #FC763A;
    padding: 0 5px;
    color: black;
  }
}