body {
  margin: 0;
  background-color: #053030;
  transition: all 1s;
}

.illustration {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.fire-illustration {
  padding-top: 125px;
  width: 80%;
  margin: 0 auto;
  display: none;
}

.fire-orange {
  fill: #FC763A;
  -webkit-animation: flicker 1s infinite;
  animation: flicker 1s infinite;
}

.fire-red {
  fill: #891111;
  -webkit-animation: flicker 1s infinite;
  animation: flicker 1s infinite;
}

.fire-yellow {
  fill: #FFC639;
  -webkit-animation: flicker 1s infinite;
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.6
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0.6
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.6
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0.6
  }
}